# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.pyc

# Archivos de entorno (configuración personal de cada computador)
.env

# Archivos subidos por los usuarios y estáticos generados por collectstatic
media/
staticfiles/

# Archivos del sistema
.DS_Store
Thumbs.db
