<footer class="text-center text-lg-start text-light">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00D2D5;">
            Akaispace
          </h6>
          <p class="parrafo-footer">
            Akaispace es una tienda de videojuegos y accesorios ubicada en Valdivia, que ofrece una amplia
            selección de
            títulos para todas las plataformas y edades. Desde los últimos lanzamientos hasta clásicos retro,
            Akaispace tiene algo para cada tipo de jugador. La tienda se enorgullece de su equipo experto, siempre
            dispuesto a
            recomendar juegos y a brindar un excelente servicio al cliente.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00D2D5;">
            Enlaces Rápidos:
          </h6>
          <p>
            <a href="{% url 'home' %}" class="footerli text-reset">Home</a>
          </p>
          <p>
            <a href="/menu" class="footerli text-reset">Productos</a>
          </p>
          <p>
            <a href="{% url 'home' %}#nosotros" class="footerli text-reset">Sobre Nosotros</a>
          </p>
          <p>
            <a href="{% url 'home' %}#local" class="footerli text-reset">Local</a>
          </p>
          <p>
            <a href="{% url 'home' %}#redes" class="footerli text-reset">Redes</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4" style="color: #00D2D5;">Contacto:</h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            akaispacevaldivia@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +56 9 6156 1944</p>
          <p><i class="fas fa-map-marker-alt me-3"></i> Galería Caupolicán 544, Local 26, Valdivia</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: #252e46;">
    Copyright © 2025 - 2025 Akaispace   Privacy Policy
  </div>
</footer>
