{% extends "base.html" %}
{% load static %}

{% block title %}Detalle de Usuario{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_admin/styles_detalle_usuario.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="detail-card">
            <h2>Usuario #{{ usuario.id }}</h2>

            <div class="info-group">
                <span class="info-label">Nombre:</span>
                <span class="info-value">{{ usuario.nombre }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Correo:</span>
                <span class="info-value">{{ usuario.email }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">RUT:</span>
                <span class="info-value">{{ usuario.rut|default:"No especificado" }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Teléfono:</span>
                <span class="info-value">{{ usuario.telefono }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Dirección:</span>
                <span class="info-value address-value-limit">{{ usuario.direccion }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Región:</span>
                <span class="info-value">{{ usuario.region }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Ciudad:</span>
                <span class="info-value">{{ usuario.ciudad }}</span>
            </div>

            <div class="info-group">
                <span class="info-label">Administrador:</span>
                <span class="info-value">{% if usuario.is_staff %}Si{% else %}No{% endif %}</span>
            </div>

            <div class="action-buttons">

                <a href="{% url 'eliminar_usuario' usuario.id %}" 
                   onclick="confirmarEliminacion(event, this)" class="btn-custom btn-eliminar">
                   Eliminar
                </a>
            </div>

            <div class="btn-volver-container">
                <a href="{% url 'admin_usuarios' %}" class="btn-custom btn-volver">Volver</a>
            </div>

        </div>
    </div>
    <!--modal para confirmacion-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmacionLabel">Confirmación de Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div> 


<script>
    // para modal al eliminar
    let enlaceEliminar;
    function confirmarEliminacion(event, elemento) {
        event.preventDefault();
        enlaceEliminar = elemento;
        const modal = new bootstrap.Modal(document.getElementById('modalConfirmacion'));
        modal.show();
    }
    document.getElementById('btnConfirmarEliminar').addEventListener('click', function() {
        if (enlaceEliminar) {
            window.location.href = enlaceEliminar.href;
        }
    });
</script>
{% endblock %}
