{% extends "admin_panel/base_admin.html" %}
{% load static custom_filters %}

{% block title %}Productos{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_admin/styles_productos.css' %}">
{% endblock %}

{% block encabezado %}
<h1>Productos</h1>
{% endblock %}

{% block content %}
    <!--tabla-->
    <div class="height-100">
        <div class="product-actions">
            <form method="get" action="{% url 'admin_productos' %}" class="search-form">

                {% if categoria %} <input type="hidden" name="categoria" value="{{ categoria }}"> {% endif %}
                {% if genero %} <input type="hidden" name="genero" value="{{ genero }}"> {% endif %}

                <input type="text" name="q" value="{{ query|default_if_none:'' }}" placeholder="Buscar productos..." class="search-input" />            

                <select name="ordenar" onchange="this.form.submit()"> <option value="recientes" {% if ordenar == 'recientes' %}selected{% endif %}>Recientes</option>
                    <option value="antiguos" {% if ordenar == 'antiguos' %}selected{% endif %}>Antiguos</option>
                    <option value="menor_precio" {% if ordenar == 'menor_precio' %}selected{% endif %}>Menor Precio</option>
                    <option value="mayor_precio" {% if ordenar == 'mayor_precio' %}selected{% endif %}>Mayor Precio</option>
                </select>

                <button type="submit" class="btn-search">Buscar</button>
            </form>
            <button type="button" class="button" data-url="{% url 'agregar_producto' %}" onclick="window.location.href=this.dataset.url">
            <span class="button__text">Agregar Producto</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
            </button> 
        </div>

        {% if mensaje %}
            <div class="no-results">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Código de Barras</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th>Género</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{producto.id}}</td>
                    <td>
                        {% if producto.imagen_principal %}
                            <img src="{{ producto.imagen_principal.url }}" alt="Imagen de {{ producto.nombre }}" class="product-img">
                        {% else %}
                            <span>Sin imagen</span>
                        {% endif %}
                    </td>
                    <td>{{ producto.codigo_de_barra }}</td>
                    <td>{{ producto.nombre|truncatechars:25 }}</td>
                    <td>${{ producto.precio|formato_chileno }}</td>
                    <td>
                        {% if producto.stock == 0 %}
                            <span class="stock-out">Sin stock</span>
                        {% else %}
                            {{ producto.stock }}
                        {% endif %}
                    </td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.genero }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn-edit">Editar</a>|
                        <a href="{% url 'eliminar_producto' producto.id %}" onclick="confirmarEliminacion(event, this)" style="color: red;">Eliminar</a> |
                        <a href="{% url 'detalle_producto' producto.id %}" class="btn-more">Ver Más</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Paginacion -->
        <div class="pagination-wrapper d-flex justify-content-center">
            <ul class="pagination">

                <!-- Botón anterior -->
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    {% if page_obj.has_previous %}
                        <a class="page-link custom-page-link"
                        href="{{ actual_url }}?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if categoria %}&categoria={{ categoria }}{% endif %}{% if genero %}&genero={{ genero }}{% endif %}{% if ordenar %}&ordenar={{ ordenar }}{% endif %}">
                            &laquo;
                        </a>
                    {% else %}
                        <span class="page-link custom-page-link">&laquo;</span>
                    {% endif %}
                </li>

                <!-- Números -->
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link custom-page-link">{{ num }}</span>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link custom-page-link"
                            href="{{ actual_url }}?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if categoria %}&categoria={{ categoria }}{% endif %}{% if genero %}&genero={{ genero }}{% endif %}{% if ordenar %}&ordenar={{ ordenar }}{% endif %}">
                                {{ num }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Botón siguiente -->
                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    {% if page_obj.has_next %}
                        <a class="page-link custom-page-link"
                        href="{{ actual_url }}?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if categoria %}&categoria={{ categoria }}{% endif %}{% if genero %}&genero={{ genero }}{% endif %}{% if ordenar %}&ordenar={{ ordenar }}{% endif %}">
                            &raquo;
                        </a>
                    {% else %}
                        <span class="page-link custom-page-link">&raquo;</span>
                    {% endif %}
                </li>

            </ul>
        </div>
    </div>
    <!--modal para confirmacion-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmacionLabel">Confirmación de Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este producto? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>  

<script>

    // para el modal de confirmacion
    let enlaceEliminar;

    function confirmarEliminacion(event, elemento) {
        event.preventDefault();
        enlaceEliminar = elemento;
        const modal = new bootstrap.Modal(document.getElementById('modalConfirmacion'));
        modal.show();
    }
    document.getElementById('btnConfirmarEliminar').addEventListener('click', function() {
        if (enlaceEliminar) {
            window.location.href = enlaceEliminar.href;
        }
    });
</script>
{% endblock %}
