{% extends "admin_panel/base_admin.html" %}
{% load static %}

{% block title %}Reclamos{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_admin/styles_reclamos.css' %}">
{% endblock %}

{% block encabezado %}
<h1>Reclamos</h1>
{% endblock %}

{% block content %}
    <!--tabla-->
    <div class="height-100 p-4">
        {% if errores %}
        <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
            <i class='bx bx-error-circle fs-4 me-2'></i>
            <div>
                {% for e in errores %}
                    {{ e }}{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form method="get" class="d-flex flex-wrap gap-3 mb-4">

            <input 
                type="text" 
                name="q" 
                class="form-control w-auto" 
                placeholder="Buscar por usuario, ID o asunto..."
                value="{{ request.GET.q }}"
            >

            <select name="estado" class="form-select w-auto">
                <option value="">Todos los estados</option>
                <option value="Abierto" {% if estado_seleccionado == 'Abierto' %}selected{% endif %}>Abierto</option>
                <option value="Respondido" {% if estado_seleccionado == 'Respondido' %}selected{% endif %}>Respondido</option>
            </select>

            <input 
                type="date" 
                name="fecha_inicio" 
                class="form-control w-auto"
                value="{{ request.GET.fecha_inicio }}"
            >

            <input 
                type="date" 
                name="fecha_fin" 
                class="form-control w-auto"
                value="{{ request.GET.fecha_fin }}"
            >

            <button type="submit" class="btn btn-buscar">Filtrar</button>
        </form>

        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Asunto</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reclamo in reclamos %}
                    <tr>
                        <td>{{ reclamo.id }}</td>
                        <td>{{ reclamo.usuario.nombre|truncatechars:20 }}</td>
                        <td>{{ reclamo.asunto|truncatechars:15 }}</td>
                        <td>{{ reclamo.descripcion|truncatechars:40 }}</td>
                        <td>
                            <span class="badge
                                {% if reclamo.estado == 'Abierto' %}
                                    bg-warning text-dark
                                {% elif reclamo.estado == 'Respondido' %}
                                    bg-success
                                {% elif reclamo.estado == 'Cancelado' %}
                                    bg-danger
                                {% else %}
                                    bg-secondary
                                {% endif %}
                            ">
                                {{ reclamo.estado }}
                            </span>
                        </td>
                        <td>{{ reclamo.fecha|date:"d/m/Y H:i"}}</td>
                        <td>
                            {% if reclamo.estado == 'Respondido' %}
                                <a href="{% url 'detalle_reclamo' reclamo.id %}" class="btn btn-secondary btn-sm" style="border-radius: 20px;">
                                    <i class='bx'></i> Ver Detalle
                                </a>
                            {% else %}
                                <a href="{% url 'responder_reclamo' reclamo.id %}" class="btn-responder btn btn-sm">
                                    <i class='bx'></i> Responder
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Paginacion -->
            <div class="pagination-wrapper d-flex justify-content-center">
                <ul class="pagination">

                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        {% if page_obj.has_previous %}
                            <a class="page-link custom-page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <span class="page-link custom-page-link">&laquo;</span>
                        {% endif %}
                    </li>

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link custom-page-link">{{ num }}</span>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link custom-page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        {% if page_obj.has_next %}
                            <a class="page-link custom-page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span class="page-link custom-page-link">&raquo;</span>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
    const alert = document.querySelector('.alert');
    if (alert) {
        setTimeout(() => {
            const bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        }, 3000);
    }
});
</script>
{% endblock %}
