{% extends "admin_panel/base_admin.html" %}
{% load static %}

{% block title %}Usuarios{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_admin/styles_usuarios.css' %}">
{% endblock %}

{% block encabezado %}
<h1>Usuarios</h1>
{% endblock %}

{% block content %}
    <div class="height-100">
        <form method="get" action="{% url 'buscar_usuarios' %}" style="margin-bottom: 10px;"">
            <input type="hidden" name="q" value="{{ request.GET.q }}">
            <input type="hidden" name="filtro" value="{{ request.GET.filtro }}">

            <select name="es_admin" onchange="this.form.submit()">
                <option value="" {% if request.GET.es_admin == "" %}selected{% endif %}>Todos</option>
                <option value="True" {% if request.GET.es_admin == "True" %}selected{% endif %}>Administradores</option>
                <option value="False" {% if request.GET.es_admin == "False" %}selected{% endif %}>No Administradores</option>
            </select>
        </form>
        <div class="product-actions">
            <form method="get" action="{% url 'buscar_usuarios' %}">
                <input type="text" name="q" placeholder="Buscar usuarios..." value="{{ request.GET.q }}" />
                <select name="filtro">
                    <option value="nombre" {% if request.GET.filtro == 'nombre' %}selected{% endif %}>Nombre</option>
                    <option value="rut" {% if request.GET.filtro == 'rut' %}selected{% endif %}>RUT</option>
                </select>
                <button type="submit" class="btn-buscar btn">Buscar</button>
            </form>

            <button type="button" class="button" data-url="{% url 'crear_usuario' %}" onclick="window.location.href=this.dataset.url">
            <span class="button__text">Agregar Usuario</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
            </button> 
        </div>




        {% if mensaje %}
            <p style="color: red; font-weight: bold;">{{ mensaje }}</p>
        {% else %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rut</th>
                    <th>Teléfono</th>
                    <th>¿Es Administrador?</th>
                    <th>Acciones</th>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre|truncatechars:30 }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.rut|default:"No especificado" }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.is_staff|yesno:"Sí,No" }}</td>
                    <td>
                        <a href="{% url 'eliminar_usuario' usuario.id %}" onclick="confirmarEliminacion(event, this)" style="color: red;">Eliminar</a> |
                        <a href="{% url 'detalle_usuario' usuario.id %}" class="btn-more">Ver Más</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <!-- Paginacion -->
        <div class="pagination-wrapper d-flex justify-content-center">
            <ul class="pagination">

                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    {% if page_obj.has_previous %}
                        <a class="page-link custom-page-link"
                        href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&filtro={{ request.GET.filtro }}&es_admin={{ request.GET.es_admin }}"
                        aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% else %}
                        <span class="page-link custom-page-link">&laquo;</span>
                    {% endif %}
                </li>

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link custom-page-link">{{ num }}</span>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link custom-page-link"
                            href="?page={{ num }}&q={{ request.GET.q }}&filtro={{ request.GET.filtro }}&es_admin={{ request.GET.es_admin }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                    {% if page_obj.has_next %}
                        <a class="page-link custom-page-link"
                        href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&filtro={{ request.GET.filtro }}&es_admin={{ request.GET.es_admin }}"
                        aria-label="Siguiente">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% else %}
                        <span class="page-link custom-page-link">&raquo;</span>
                    {% endif %}
                </li>


            </ul>
        </div>
    </div>
    <!--modal para confirmacion-->
    <div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmacionLabel">Confirmación de Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmarEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>    

<script>

    // para modal al eliminar
    let enlaceEliminar;
    function confirmarEliminacion(event, elemento) {
        event.preventDefault();
        enlaceEliminar = elemento;
        const modal = new bootstrap.Modal(document.getElementById('modalConfirmacion'));
        modal.show();
    }
    document.getElementById('btnConfirmarEliminar').addEventListener('click', function() {
        if (enlaceEliminar) {
            window.location.href = enlaceEliminar.href;
        }
    });
</script>
{% endblock %}
