{% extends "admin_panel/base_admin.html" %}
{% load static custom_filters %}

{% block title %}Ventas{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_admin/styles_ventas.css' %}">
{% endblock %}

{% block encabezado %}
<h1>Ventas</h1>
{% endblock %}

{% block content %}
{% if errores %}
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
        <i class='bx bx-error-circle fs-4 me-2'></i>
        <div>
            {% for e in errores %}
                {{ e }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

<div class="height-100 p-4">
    <form method="get" class="row g-3 mb-4">

        <div class="col-md-4">
            <input 
                type="text" 
                name="q" 
                class="form-control" 
                placeholder="Buscar por usuario o ID..." 
                value="{{ request.GET.q }}"
            >
        </div>

        <div class="col-md-3">
            <input 
                type="date" 
                name="fecha_inicio" 
                max="{{ hoy }}" 
                class="form-control"
                value="{{ request.GET.fecha_inicio }}"
            >
        </div>

        <div class="col-md-3">
            <input 
                type="date" 
                name="fecha_fin"
                max="{{ hoy }}" 
                class="form-control"
                value="{{ request.GET.fecha_fin }}"
            >
        </div>

        <div class="col-md-2">
            <select name="ordenar" class="form-select">
                <option value="">Ordenar</option>
                <option value="recientes" {% if request.GET.ordenar == "recientes" %}selected{% endif %}>Más recientes</option>
                <option value="antiguas" {% if request.GET.ordenar == "antiguas" %}selected{% endif %}>Más antiguas</option>
            </select>
        </div>

        <div class="col-12 d-flex">
            <button type="submit" class="btn btn-buscar">Aplicar</button>
        </div>

    </form>


    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Total</th>
                    <th>Producto/s</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ venta.id }}</td>
                    <td>{{ venta.usuario.nombre|truncatechars:30 }}</td>
                    <td>${{ venta.total|formato_chileno }}</td>
                     <td>
                        <ul class="list-unstyled mb-0">
                            {% for producto_venta in venta.producto_venta.all %}
                            <li class="d-flex align-items-center">
                                <span class="admin-prod-name" title="{{ producto_venta.producto.nombre }}">
                                    {{ producto_venta.producto.nombre }}
                                </span>
                                <strong class="ms-1 text-muted" style="font-size: 0.9em;">(x{{ producto_venta.cantidad }})</strong>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ venta.fecha|date:"d/m/Y H:i" }}</td>
                    <td>
                        <span class="
                            {% if venta.datos_envio.estado == 'En Preparación' %}estado-preparacion
                            {% elif venta.datos_envio.estado == 'Enviado' %}estado-enviado
                            {% elif venta.datos_envio.estado == 'En Tránsito' %}estado-transito
                            {% elif venta.datos_envio.estado == 'En Reparto' %}estado-reparto
                            {% elif venta.datos_envio.estado == 'Entregado' %}estado-entregado
                            {% elif venta.datos_envio.estado == 'Anulada' %}estado-anulada
                            {% endif %}
                        ">
                            {{ venta.datos_envio.estado }}
                        </span>
                    </td>

                    <td>
                        <a href="{% url 'detalle_venta' venta.id %}" class="btn-responder btn">Ver Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    <!-- Paginacion -->
    <div class="pagination-wrapper d-flex justify-content-center">
        <ul class="pagination">

            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                {% if page_obj.has_previous %}
                    <a class="page-link custom-page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span class="page-link custom-page-link">&laquo;</span>
                {% endif %}
            </li>

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link custom-page-link">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link custom-page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                {% if page_obj.has_next %}
                    <a class="page-link custom-page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span class="page-link custom-page-link">&raquo;</span>
                {% endif %}
            </li>

        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const alert = document.querySelector('.alert');

    if (alert) {
        setTimeout(() => {
            const bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        }, 3000);
    }
});
</script>
{% endblock %}
