{% extends "base.html" %}
{% load static %}
{% comment %}
Páginas de la tienda con navbar y footer. Para usar una variante del navbar, la página
sobrescribe el bloque navbar, por ejemplo:
  {% block navbar %}{% include "partials/navbar.html" with menu_simple=True %}{% endblock %}
{% endcomment %}

{% block navbar %}{% include "partials/navbar.html" %}{% endblock %}

{% block footer %}{% include "partials/footer.html" %}{% endblock %}

{% block scripts %}
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
