<!DOCTYPE html>
{% load static %}
{% load custom_filters %} 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'styles/styles_boleta.css' %}">
    <!--Logo de sd games-->
    <link rel="icon" type="image/png" href="{% static 'images/sdgameslogo.png' %}">
    <title>Boleta Nº {{ venta.id }} - SD Games</title>
</head>
<body>

    <div class="boleta-container">
        <div class="header">
            <h2>SD GAMES</h2>
            <div class="info-empresa">
                <p>R.U.T.: 76.999.888-K</p>
                <p>Boleta Electrónica Nº {{ venta.id }}</p>
                <p>Valdivia, Av. Simpson 641</p>
                <p>Fecha Emisión: {{ venta.fecha|date:"d/m/Y H:i" }}</p> </div>
        </div>

        <div class="info-cliente">
            <strong>Cliente:</strong> {{ venta.usuario.nombre }}<br>
            <strong>RUT:</strong> {{ venta.usuario.rut }}<br>
            <strong>Dirección:</strong> {{ venta.usuario.direccion }}<br>
            <strong>Ciudad:</strong> {{ venta.usuario.ciudad }}
        </div>

        <table class="tabla-productos">
            {% for item in venta.producto_venta.all %}
            <tr>
                <td>{{ item.cantidad }} x {{ item.producto.nombre|truncatechars:20 }}</td>
                <td class="precio">${{ item.total_producto|formato_chileno }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="totales">
            <div style="display:flex; justify-content:space-between;">
                <span>Subtotal:</span>
                <span>${{ venta.subtotal|formato_chileno }}</span>
            </div>
            <div style="display:flex; justify-content:space-between;">
                <span>Envío:</span>
                <span>${{ venta.envio|formato_chileno }}</span>
            </div>
            <br>
            <div class="row-total">
                <span>TOTAL:</span>
                <span>${{ venta.total|formato_chileno }}</span>
            </div>
        </div>

        <div class="footer">
            <p style="font-size: 10px; margin-top: 20px;">Timbre Electrónico SII<br>Res. 80 de 2025</p>
            <div class="barcode">||| |||| || | |||| ||</div>
            <p style="font-size: 12px;">¡Gracias por preferirnos!</p>
        </div>

        <button onclick="window.print()" class="btn-print">Imprimir Boleta</button>
    </div>

</body>
</html>