{% extends "base_tienda.html" %}
{% load static %}

{% block title %}Akaispace - Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_home.css' %}">
{% endblock %}

{% block navbar %}{% include "partials/navbar.html" with menu_simple=True %}{% endblock %}

{% block content %}
  <!--Nav de la web-->

  <!--Fondo Principal con nombre de la tienda y frase-->
  <div id="fondo">
    <div class="text container">
      <h1 class="fw-bold fst-italic text-center">Akaispace</h1>
      <p class="text-center">
        Donde cada juego es una nueva aventura...
      </p>
    </div>
  </div>

  <!--Parrafos-->
  <a name="nosotros"></a>
  <div class="cont container">
    <section id="hero" class="paused">
      <h1 class="anim-down fw-bold fst-italic text-center">Bienvenido a Akaispace</h1>
      <div class="containerparrafo container">
        <div class="row">
          <div class="col-md-6">
            <p class="anim-up fs-5 lead text-dark" style="text-align: justify;">
              Akaispace es una tienda de videojuegos y accesorios ubicada en Valdivia, que ofrece una amplia selección de títulos para todas las plataformas y edades. Desde los últimos lanzamientos hasta clásicos retro, Akaispace tiene algo para cada tipo de jugador. Destacamos por ofrecer información clara, recomendaciones y una experiencia amigable para quienes buscan explorar el mundo gamer.
            </p>
          </div>
          <div class="col-md-6">
            <p class="anim-up fs-5 lead text-dark" style="text-align: justify;">
              Además de su tienda online, Akaispace cuenta con un local físico en la Galería Caupolicán 544, Local 26, donde puedes visitarnos, conocer nuestros productos y recibir recomendaciones de nuestro equipo. Su origen valdiviano ha impulsado una fuerte conexión con la comunidad gamer local y, a través de la tienda online, llega a jugadores de todo Chile que buscan calidad, variedad y una experiencia única.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--Cards-->
  <section id="hero" class="wrapper paused">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="anim-down display-6 fw-bold fst-italic text-center">Acciones Rápidas</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <a href="{% url 'register' %}" class="text-decoration-none">
            <div class="card anim-up text-dark card-has-bg click-col"
              style="background-image:url('https://www.ifema.es/img/xl/lista-principales-torneos-esports-equipos/lista-principales-torneos-esports-y-sus-equipos.jpeg');">
              <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body" style="color: white;">
                  <small class="card-meta mb-2" style="color: white;">Akaispace</small>
                  <h4 class="card-title mt-0" style="color: white;">Regístrate</h4>
                  <small><i style="color: white;"></i> ¡Se Parte de Nuestra Comunidad y Regístrate ya!</small>
                </div>
              </div>
            </div>
          </a>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <a href="/menu" class="text-decoration-none">
            <div class="card anim-up  text-dark card-has-bg click-col"
              style="background-image:url('https://i.blogs.es/9458c1/original/650_1200.jpeg');">
              <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature"
                alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body" style="color: white;">
                  <small class="card-meta mb-2" style="color: white;">Akaispace</small>
                  <h4 class="card-title mt-0" style="color: white;">Nuestro catálogo de videojuegos</h4>
                  <small><i style="color: white;"></i>Visita nuestro ampliado catálogo de Videojuegos</small>
                </div>
              </div>
            </div>
          </a>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <a href="#redes" class="text-decoration-none">
            <div class="card anim-up text-dark card-has-bg click-col"
              style="background-image:url('https://www.inci.gov.co/sites/default/files/styles/imagen_internas_1110x624_/public/2023-07/redes-sociales.jpg?itok=OoLVhkYTs');">
              <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design"
                alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body" style="color: white;">
                  <small class="card-meta mb-2" style="color: white;">Akaispace</small>
                  <h4 class="card-title mt-0 " style="color: white;">Nuestras Redes Sociales</h4>
                  <small><i style="color: white;"></i> Te invitamos a seguirnos en nuestras redes</small>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


 <!--Apartado de Nuevos Lanzamientos-->
<section class="wrapper paused">
    <div class="container cont-vid">
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="anim-down display-6 fw-bold fst-italic text-center">Nuevos Lanzamientos</h1>
        </div>
      </div>
      <div class="row align-items-center mb-5 anim-up">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="video-placeholder-container">
            <div class="video-placeholder">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wFGEMfyAQtI?si=uR1kNT3b9-aTYjWK?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="box-shadow: 0 0 10px rgba(0, 0, 0, .8);"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="fw-bold mb-3 text-dark">Battlefield 6</h2>
          <p class="text-dark" style="text-align: justify;">
            Battlefield 6 es un videojuego de disparos en primera persona de 2025 desarrollado por 
            Battlefield Studios​y publicado por Electronic Arts. Siendo la decimoctava entrega de 
            la serie Battlefield, el juego se lanzó para PlayStation 5, Windows y Xbox Series X/S 
            el 10 de octubre de 2025.
          </p>
          <a href="/menu" class="btn-product-cta">Ver Producto</a>
        </div>
      </div>

      <div class="row align-items-center anim-up">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="fw-bold mb-3 text-dark">EA Sports FC 26</h2>
          <p class="text-dark" style="text-align: justify;">
            EA Sports FC 26 es un videojuego de fútbol desarrollado por EA Vancouver y EA 
            Romania y publicado por Electronic Arts. Su lanzamiento mundial fue el 26 de 
            septiembre de 2025 para Microsoft Windows, PlayStation 4, PlayStation 5, Xbox 
            One, Xbox Series X/S, Nintendo Switch, Nintendo Switch 2 y Amazon Luna.
          </p>
          <a href="/menu" class="btn-product-cta">Ver Producto</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
          <div class="video-placeholder-container">
            <div class="video-placeholder">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TSi0iJYSQ24?si=ohSTTIwMLJ7TQIDa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="box-shadow: 0 0 10px rgba(0, 0, 0, .8);"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--redes sociales-->
<a name="redes" id="redes"></a>
  <section class="wrapper paused">
    <div class="container">

      <div class="card-redes-simple anim-up">
        <div class="row align-items-center">

          <div class="col-md-7 mb-4 mb-md-0">
            <h2 class="fw-bold mb-3 text-dark">Nuestras Redes</h2>
            <p class="text-muted mb-4" style="text-align: justify;">
              ¿Buscas un juego específico o tienes dudas sobre tu pedido? Conéctate con nosotros a través de nuestras redes sociales. Estamos activos para responder tus consultas, ayudarte con tus compras y mantenerte informado sobre nuestros nuevos stocks.
            </p>

            <div class="social-list">

              <div class="social-item">
                <i class="fab fa-whatsapp"></i>
                <span>+56 9 6156 1944</span>
              </div>

              <div class="social-item">
                <i class="fab fa-facebook-f"></i>
                <span>Akaispace</span>
              </div>

              <div class="social-item">
                <i class="fab fa-instagram"></i>
                <span>akaispace_valdivia</span>
              </div>

            </div>
          </div>

          <div class="col-md-5">
            <div class="redes-image-placeholder">
                <img src="https://www.formacionprofesional.info/wp-content/uploads/2019/04/tutoriales-esports.jpg" alt="">
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>


<!--Boton para ir hacia arriba-->
<div class="go-top-container">
  <div class="go-top-button">
    <img src="{% static 'images/navegar-flecha-hacia-arriba.png' %}" alt="">
  </div>
</div>

<!--Script para el boton de ir hacia arriba-->
<script>
  window.onscroll = function () {
    console.log(document.documentElement.scrollTop);
    if (document.documentElement.scrollTop > 100) {
      document.querySelector('.go-top-container').classList.add('show');

    }
    else {
      document.querySelector('.go-top-container').classList.remove('show');
    }
  }

  document.querySelector('.go-top-container').addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });

  function isVisible(elm) {
    var rect = elm.getBoundingClientRect();
    var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
    return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
  }

  window.addEventListener('DOMContentLoaded', (ev0) => {
    window.addEventListener('scroll', (ev1) => {
      document.querySelectorAll(".paused").forEach(elm => {
        if (isVisible(elm))
          elm.classList.remove("paused");
      })
    });
  });
</script>
{% endblock %}
