<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reclamos</title>
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--LOGO-->
    <link rel="icon" type="image/png" href="{% static 'images/akaispace_favicon.png' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'styles/styles_lista_reclamos.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="page-header">
            <a href="{% url 'perfil' %}" class="btn-regresar">
                <i class="fa-solid fa-arrow-left-long"></i> Regresar
            </a>
            <h1>Lista de Reclamos Realizados</h1>
        </div>

        <div class="reclamos-list">
            {% for reclamo in page_obj %}
            <div class="reclamo-card">
                <div class="row align-items-center">
                    
                    <div class="col-lg-3 info-col">
                        <div><span class="label-bold">ID {{ reclamo.id }}</span></div>
                        
                        <div>
                            <span class="info-label" style="display:inline;">Estado: </span>
                            <span class="info-value estado-texto estado-{{ reclamo.estado|slugify }}">
                                {{ reclamo.estado }}
                            </span>
                        </div>

                        <div>
                            <span class="label-bold">Fecha:</span> 
                            <span class="text-value">{{ reclamo.fecha|date:"d/m/Y H:i" }}</span>
                        </div>
                    </div>

                    <div class="col-lg-3 info-col">
                        <span class="label-bold">Asunto:</span> 
                        <span class="text-value">{{ reclamo.asunto|truncatechars:15 }}</span>
                    </div>

                    <div class="col-lg-4 info-col">
                        <span class="label-bold">Descripción:</span> 
                        <span class="desc-text">
                            {{ reclamo.descripcion|truncatechars:30 }}
                        </span>
                    </div>

                    <div class="col-lg-2 text-end btn-container-col">
                        <a href="{% url 'ver_detalle_reclamo' reclamo.id %}" class="btn-ver-mas">
                            Ver Más
                        </a>
                    </div>

                </div>
            </div>
            {% empty %}
            <div class="text-center py-5">
                <p class="h5 text-muted">No tienes reclamos registrados.</p>
            </div>
            {% endfor %}
        </div>
        
        <!-- Paginacion -->
        <div class="pagination-wrapper">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="page-nav">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            {% else %}
                <span class="page-nav disabled-nav">
                    <i class="fa-solid fa-chevron-left"></i>
                </span>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                
                {% if num == page_obj.number %}
                    <span class="page-item active">{{ num }}</span>

                {% elif num == 1 or num == page_obj.paginator.num_pages or num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                    <a href="?page={{ num }}" class="page-item">{{ num }}</a>

                {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                    <span class="page-dots">...</span>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-nav">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            {% else %}
                <span class="page-nav disabled-nav">
                    <i class="fa-solid fa-chevron-right"></i>
                </span>
            {% endif %}
        </div>

    </div>

</body>
</html>