{% extends "base.html" %}
{% load static %}

{% block title %}Ya opinaste{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/styles_ya_opinaste.css' %}">
{% endblock %}

{% block content %}
<div class="message-card">
    <div class="icon-circle">
        <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
    <h1>¡Ya opinaste!</h1>
    <p class="mb-1">Ya registramos tu valoración para el producto:</p>

    <div class="product-name-limit" title="{{ producto.nombre }}">
        "{{ producto.nombre }}"
    </div>

    <p class="mt-3">Solo puedes opinar una vez por producto.</p>

    <a href="javascript:history.back()" class="btn-volver">Volver atrás</a>
</div>
{% endblock %}
