@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    background-color: #EEF1F4;
    font-family: "Poppins", sans-serif;
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.opinion-card {
    background-color: white;
    width: 100%;
    max-width: 550px; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #000;
    line-height: 1.3em;           
    display: -webkit-box;
    -webkit-line-clamp: 3;          
    line-clamp: 3;                 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
    padding: 0 10px;               
    word-break: break-word;       
    cursor: help;                
}


.rating-label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #000;
}

.star-container {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.star-icon {
    font-size: 2rem;
    color: #ddd; 
    transition: color 0.2s;
}

.star-icon.active {
    color: #E3C938; 
}

.comment-label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #000;
}

.custom-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 12px;
    resize: none; 
    font-family: inherit;
    font-size: 0.95rem;
    color: #555;
    outline: none;
    margin-bottom: 30px;
}

.custom-textarea:focus {
    border-color: #a0a0a0;
}

.custom-textarea::placeholder {
    color: #b0b0b0;
    font-weight: 300;
}

.actions-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn-custom {
    flex: 1;
    padding: 12px 0;
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.95rem;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
}
.btn-custom:hover { opacity: 0.9; color: white; }


.btn-submit {
    background-color: #4e84a8;
    color: white;
}

.btn-cancel {
    background-color: #1c253b;
    color: white;
}

.hidden-rating-input {
    display: none;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}